body{

    margin:0;

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;

    background:#0f172a;

    color:white;

    font-family:Arial;

}

.card{

    background:#1e293b;

    padding:40px;

    border-radius:15px;

    text-align:center;

}